/Sistemas Web Labos/Laboratorio 2/pdfs/
Sistemas Web Labos/Laboratorio 4/__pycache__/Dropbox.cpython-38.pyc
Sistemas Web Labos/Laboratorio 4/__pycache__/eGela.cpython-38.pyc
Sistemas Web Labos/Laboratorio 4/pagina.html
Sistemas Web Labos/Laboratorio 4/__pycache__/Dropbox.cpython-38.pyc
Sistemas Web Labos/Laboratorio 4/__pycache__/eGela.cpython-38.pyc
Sistemas Web Labos/Laboratorio 4/pagina.html
